<style>
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
</style>
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  background: #000;
  height: 100%;
  width: 100%;
  font-family: 'Amatic SC', cursive;
  overflow: hidden;
}
header {
  background-image: linear-gradient(to right, #B47C68
  , #fff);
  position: relative;
  height: 100vh;
  width: 100%;
   overflow: hidden;
}

nav
{
  position: absolute;
  width: 100%;
  height: 12vh;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.container
{
  padding: 10% 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container div.brand
{
  width: 10%;
  height: 7vh;
  position: relative;
}
nav div.brand img
{
  top: 0;
  position: absolute;
  height: 100%;
  object-fit:cover;

}
nav ul
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li{
  list-style: none;
  padding: 0 30px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}
section
{
  height: 100vh;
  width: 100%;
  z-index: 1;
  top:0;
  position: absolute;

}

.hero img
{
  /*object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: top;
*/
}
div.hero::after{
  content: "";
  background-image: url(../images/animationDream/bg.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .1;
  z-index: 8;
}

img#man{
  position: absolute;
  object-fit: cover;
  object-position: top;
  /*top: -50%;*/
  width: 50%;
  border: solid 0.2px rgba(#fff, .1);
  border-radius: 50%;
  box-shadow: 10px 15px 50px #fff;
  opacity: .3;
  z-index: 9;
}
div.both
{
  position: relative;
  z-index: 4;
  top:0;
}
img#dreamGirl{
  object-fit: cover;
  position: absolute;
  width: 100%;
  object-position: top;
  top:0;
}
.vapour{
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 7;
  padding: 0 20px;
  left: 54%;
}
.vapour span
{
  position: relative;
  background: #fff;
  display: block;
  min-width:8px;
  height: calc(var(--i) * 4px);
  margin: 0 2px 10px;
  border-radius: 50%;
  animation: vapouring 5s linear infinite;
  opacity:0;
  filter: blur(10px);
  animation-delay: calc(var(--i) * -3s);
}

div.hero img#bg
{
  position: absolute;
  left:0;
  width: 100%;
  opacity: .1;
  overflow: hidden;
  transition: opacity 1s ease-in-out;

}

@keyframes vapouring {
  0%{
    transform: translateX(0) scaleX(1);
    opacity:0;
  }
  15%{
    opacity: 1;
  }
  50%{
    transform: translateY(-150px) scaleX(5);
  }
  95%{
    opacity: 0;
  }
  100%{
    transform: translateY(-300px) scaleX(10);
  }

}

@keyframes animate{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(100%);

  }
}

/*
div.hero::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f00,#f00,#0f0,#0ff,#ff0,#0ff);
    mix-blend-mode: color;
    pointer-events: none;
}
*/

section h1.headline{
  z-index: 4;
  height: 20vh;
  color: #fff;
  position: absolute;
  bottom: 10%;
  left: 10%;
  font-size: 4rem;
  opacity: .7;
  font-weight:400;
}

