
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
    display: block;
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #4d4d4d;
}
html
{
  font-family: sans-serif;
  line-height: 1.15;
  display:block;
}
nav
 {
    background: transparent;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 0;
}
.sticky
{
  top: 0;
	background-color: rgba(255,255,255,.8);
	border-bottom: 1px solid(0,0,0,.1);
	position: fixed;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container {
    max-width: 1180px;
}
nav div.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.navbar-brand {
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fdcb6e;
    text-decoration: none;
}
ul.navbar-nav {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding-left:0;
  margin-bottom:0;
}

ul.navbar-nav li
{
}
nav.sticky ul.navbar-nav li a.nav-link
{
  	color: rgba(0,0,0,.9);

}
ul.navbar-nav li a.nav-link
{
  font-size: 12px;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 1 !important;
  color: #fff;
  text-decoration: none;
}
/*section home*/
section {
  display: block;
}
.d-flex{
  display: flex;
}
div.half{
  width: 50%;
  background: black;
  height: 100vh;
}
section.hero {
    position: relative;
    z-index: 0;
    width: 100%;

}
.hero h1.vr {
    font-family: "Barlow Condensed", Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 41vw;
    text-transform: uppercase;
    z-index: 1;
    color: #fff;
    color: transparent;
    line-height: .1vh;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-align: center;
}
img.mySlides{
  height: 100vh;
  object-fit: cover;
  object-position: 80% 0;
  width: 50%;
  transition: opacity 3s;
  position: absolute;
  top: 0; left: 0;
}
.intro h2 {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Lora", serif;
    margin-bottom: 0.5rem;
  }
  .intro h2 span {
    background: #fdcb6e;
}
  .col-md-8{
    max-width: 67%;
    padding: 0 15px;
    position: relative;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .justify-content-end {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}


  section.intro {
    padding: 7em 0;
    position: relative;
}

 nav div.container {
        color: #fff !important;
      }
    section.portfolio {
      padding: 7em 0;
      position: relative;
    }
    .container-fluid {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      position: relative;
    }

/*end section home*/

    button.menu {
      display: none;
    }
    li.nav-item:hover
    {
      background: rgba(255,255,255,.3);
      cursor: pointer;
      text-decoration: underline

    }
    @media (max-width: 991px)
    {
        nav {
          background: rgba(0,0,0,.5);
          top: 0;
          padding: 10px 0;
          border-bottom :1px solid rgba(255,255,255,.3);
        }
        button.menu {
        display: block;

      }
      div.collapse {
        display: none;
      }
      nav.active div.collapse{
        position:absolute;
        display: block;
        animation: fade-in 1s;

        margin-top: 140px;
        background: rgba(0,0,0,.5);
        width: 90%;
        left: 0;
      }
      nav.active li.nav-item{
        width: 90%;
      }

      nav.active .navbar-nav{
        flex-direction: column;
        align-items: flex-start;
      }
      @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }

      }



    }
    /*section portfolio*/
      .padding-top-bottom
       {
          padding: 7em 0;
          position: relative;
      }
      .container-fluid {
          width: 100%;
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto;
      }
      .container-fluid div.row{
        flex-wrap: wrap;
        display: flex;
        justify-content:space-between;
      }
      div.heading-section{
        width: 100%;
      }

      section.portfolio div.row div.heading-section h2 {
          font-size: 14vw;
          font-weight: 900;
          line-height: 1.0;
          font-family: "Poppins", Arial, sans-serif;
          text-transform: uppercase;
          text-align: left;
      }

      div.heading-section h2 span {
          font-family: "Lora", serif;
          font-weight: 400;
          display: block;
          text-align: right;
      }

      /*end section portfolio*/

      /*section sgWeb*/

      .sgWeb{
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .sgWeb .desc
      {
        width: 80%;
        margin-left: auto;
        position: absolute;
        text-align: left;
        transition: transform .6s;
      }
      .sgWeb .desc div.text
      {
        display: inline-block;
        justify-content: center;
      }
      div.text h2
      {
        font-size: 80px;
        font-weight: 400;
        line-height: 120px;
        letter-spacing: 3px;
        border-bottom: solid 3px rgba(0,0,0,.9);
        text-size-adjust: 100%;

      }
      div.text span.subHeading
      {
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 3px;
      }
      .sgWeb img
      {
        width: 60%;
        display: block;
        margin-left: auto;
      }
      div.desc:hover
      {
         cursor: pointer;
         transform: scale(1.1);
      }
      div.desc a
      {
          text-decoration:none;
          color: rgba(0,0,0,.9);
      }
      /*end section sgWeb*/

    /*footer */
    .footer-section{
        font-size: 16px;
        background: #000;
        padding: 7em 0;
        z-index: 0;
        position: relative;
    }


    .footer-section div.row h2{
        font-weight: normal;
        color: #fff;
        margin-bottom: 40px;
        font-size: 13px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Poppins", Arial, sans-serif;
        letter-spacing: 3px;
    }
    .footer-section div.row p{
      color: rgba(255,255,255,.8);
    }
    .footer-section div.row div.col{
        position: relative;
        padding-right: 15px;
        padding-left: 18px;
    }
    .footer-section ul
    {
      list-style: none;
    }
    .footer-section ul li a,
    .footer-section ul li
    {
      color: rgba(255,255,255,.8);
    }
    /*end footer */
