---
layout: layouts/FFWindex.njk
title: Freelancer for Website
linkCss: ../css/index.css
Ofavicon: ./images/Ofavicon.png
pagination:
  data: collections.template
  size: 2
---
  <!--intro-->
  <section class="intro padding-top-bottom">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-8">
        <h2>Web <span>Designer</span>, hobbyist writer, and the CEO &amp; Founder of <span>Oanh</span></h2>
        <p>Far far away, behind the word mountains,
          far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in
          Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

      </div>
    </div>


  </div>

  </section>
  <!--end intro-->

  <!--portfolio-->
  <section class="portfolio padding-top-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="heading-section">
            <h2 class="mb-5">Latest &amp; <span>Greatest</span></h2>

        </div>
      </div>
    </div></section>

<!--<h1>Tags</h1>
{% for tag in collections.tagList %}
  {% set tagUrl %}/index/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}"> {{tag}}</a>
{% endfor %}-->

{%- for tmp in pagination.items -%}

  <section class="padding-top-bottom">
    <div class="container-fluid">
      <div class="sgWeb">
          <div class="desc">
            <div class="text">
              <span class="subHeading">Website { {{ tmp.data.dateCreated }} }

              </span>
              <h2><a href="{{ tmp.url }}">{{ tmp.data.title }}</a></h2>
            </div>

          </div>

          <img src="{{ tmp.data.coverImage }}" alt="">

      </div>

    </div>
  </section>
{%- endfor -%}

<div id="navigation" aria-labelledby="my-pagination">
  <h2 id="my-pagination"></h2>
  <ul>
    <li>
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}">Previous</a>
      {% else %}
        Previous
      {% endif %}
    </li>
    {%- for page in pagination.pages %}
    <li>
      <a href="{{ pagination.hrefs[ loop.index0 ] }}"
        >{{ loop.index }}
      </a>
    </li>
    {%- endfor %}
    <li>
      {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}">Next</a>
      {% else %}
        Next
      {% endif %}
    </li>
  </ul>
</div>


