---
layout: layouts/FFWbase.njk
title: Animation Shopping
linkCss: ../../css/animationWeb.css
Ofavicon: ../../images/Ofavicon.png
coverImage: ../images/animationWeb/animationWeb.png
dateCreated: 2021 Mar 2
tags: template
---
<body>
  <header>
    <nav>
      <div class="nav-closed">
        <h3><a href="/"><img src="../../images/oanh-transbg-cut.png" alt=""></a></h3>
        <ul class="nav-links">
          <li class="nav-button">Shop</li>
          <li>Blog</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="nav-open">
        <div class="clothing">
          <h2>Clothes</h2>
          <ul>
            <li><a href="#">Hats</a></li>
            <li><a href="#">Swimsuit</a></li>
            <li><a href="#">Underwear</a></li>
            <li><a href="#">Misc</a></li>
          </ul>
        </div>
        <div class="nav-images">
          <img src="../../images/animationWeb/hoodie.jpeg" alt="" />
          <img src="../../images/animationWeb/hats.jpeg" alt="" />
        </div>
      </div>
    </nav>

    <img class="cover" src="../../images/animationWeb/long-cover.jpg" alt="">
    <h1 class="cover-date">Mar 2 2021</h1>
  </header>
  <!--defer mean loads after the elements inside of our body here load. -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"
  ></script>

  <script>
    const navButton= document.querySelector('.nav-button');
    const navOpen = document.querySelector('.nav-open');

    const tl = gsap.timeline({ paused: true, reversed: true, onComplete: myFunction});

    tl.to(".cover", { width: "60%", ease: Power2.easeOut,
     duration: 1
     }).to("nav", { height: "100%", ease: Power2.easeOut,
       duration: 1 }, "-=0.5")
       <!-- half second earlier than the first animation -->
      .fromTo(".nav-open",
      { opacity: 0, x: 50, ease: Power2.easeOut},
      { opacity: 1, x:0 ,duration: 0.5 })

     navButton.addEventListener('click', (e) => {
      if(tl.isActive()){
        e.preventDefault();
        e.stopImmediatePropagation();
        return false;
      }
      toggleTween(tl);
     })

    function myFunction() {
      navOpen.style.pointerEvents = 'auto';
      console.log('Done');
    }
    function toggleTween(tween){
      tween.reversed() ? tween.play() : tween.reverse()
    }
  </script>

